.table {
  overflow: scroll;
  width: 90vw;
  margin:auto;
}
td {
    height: 7vh;
    width: 10vw;
    vertical-align: middle;
}
button {
  margin:auto;
}

@media (max-width: 599px) {
nav {
  display:none;
}

}